<html>
	<head>
		<title>Historico de Consultas</title>
		<link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	</head>
	
	<body>
	
	<div class="container">
         <div class="row">
            <div class="col-md-6 col-md-offset-3">
		
				<h1 align="center">Historico de consultas</h1>
				
					<br/>
					<br/>
				
				<form action="" method="">
					<input class="form-control" id="ex2" type="text" placeholder=""> <br/>
					<input type="radio" name="filtro" value="cantidad"> Cantidad De POIS<br>
		  			<input type="radio" name="filtro" value="teminal"> Terminal<br>
		 			<input type="radio" name="filtro" value="fecha"> Fecha (dd/mm/aaaa)
						
					<br/>
					<br/>
					
					<button type="submit" class="btn btn-primary">Filtrar</button>
					
				</form>
				{{#block "contenido"}}
				{{/block}}	
				</div>
			</div>
		</div>	
		
			
	</body>
</html>