{{#partial "titulo"}}
<h1 align = "center" >Terminal | Busqueda de Pois</h1>
{{/partial}}
{{#partial "busqueda"}}
<form class="navbar-form navbar-left" role="search" action="/terminal/busqueda/" method="get">
	<div class="form-group">
        <input type="text" name="palabraBuscada" id="palabraBuscada" class="form-control" placeholder="Buscar">
	</div>
    <button type="submit" class="btn btn-default">Enviar</button>
</form>
{{/partial}}
{{>terminal/terminal.hbs}}
