{{#partial "titulo"}}
		<div class="container">
		 <h1>Administración de Pois</h1>
		</div>
{{/partial}}		
{{#partial "index"}}
	<div class="container">			
		<form action="/admin/pois/lista" method="GET" id="busqueda">
			<div class="form-group">
			    <label for="nombre">Nombre</label>
			    <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Ej: Banco nacion">
			</div>
			<div class="form-group">
			    <label for="exampleInputEmail1">Tipo</label>				
				<select class="form-control" name="tipo" form="busqueda">
					<!-- No es la mejor opcion pero make it work, make it better -->
					<option value="" selected></option>
					<option value="Banco">Banco</option>
					<option value="CGP">CGP</option>
					<option value="Comercio">Comercio</option>
					<option value="Parada">Parada</option>						
				</select>
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
		
		{{#block "contenido"}}
		{{/block}}
	</div>
{{/partial}}
{{>admin.hbs}}