<html>
   <head>
      	<title>Administrador</title>
      	<!--  jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
      	<link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

   </head>
   <body>
   <nav class="navbar navbar-default">
   		{{#block "titulo"}}
		{{/block}}
   			<ul class="nav navbar-nav">   
			  <li><a href="/admin">Inicio</a></li>		
			  <li><a href="/admin/pois">Administración de Pois</a></li>
			  <li><a href="/admin/terminal">Terminales</a></li>
			  <li><a href="/admin/historico">Historico de Consultas</a></li>
			</ul>			  
		</nav>
	   	<div class="container">
			{{#block "index"}}
			{{/block}}
			{{#block "listarTerminales"}}
			{{/block}}
			{{#block "editarTerminales"}}
			{{/block}}
			{{#block "historico"}}
			{{/block}}
	    </div>
   </body>
   <footer class="footer navbar-fixed-bottom">
     <div class="panel panel-default">
		<div class="panel-body">Nosotros | Contacto | Terminos y condiciones | Políticas de privacidad | Dónde estamos | </div>
	 </div>
   </footer> 
</html>


