<html>
   <head>
      <title>Administrador</title>
      <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

   </head>
   <body>
	   	<div class="container">
	        
            <div class="row">
            <div class="col-md-6 col-md-offset-3">
               <nav class="navbar navbar-default">
                  <h1 align="center">Bienvenido</h1>
               </nav>
            </div>
            <div class="col-md-6 col-md-offset-5">
                              <form method="get" action="/admin/terminal">

                     <button type="submit" class="btn btn-primary">Terminales</button>
                  </form>
               
            </div>
            
            <div class="col-md-6 col-md-offset-5">
               <form method="get" action="/admin/pois">

                  <button type="submit" class="btn btn-primary">POIs</button>
               </form>
            <div>
         </div>
	     </div>
   
   
   
   
   </body>
</html>


