<html>
   <head>
      <title>Iniciar Sesion</title>
      <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   </head>
   <body>
      <div class="container">
         <div class="row">
            <div class="col-md-6 col-md-offset-3">
               <nav class="navbar navbar-default">
                  <h1 align="center">Iniciar Sesion</h1>
               </nav>
            </div>
            <form  action="/home" method="get">
               <div class="col-md-6 col-md-offset-3">
                  <label for="ex2">Usuario</label>
                  <input class="form-control" name="usuario" id="usuario" type="text" placeholder="User">
               </div>
               </br>
               <div class="col-md-6 col-md-offset-3">
                  <label for="ex2">Password</label>
                  <input class="form-control" id="ex2" type="password" placeholder="*******">
               </div>
               </br>
               <div class="col-md-6 col-md-offset-3">
                  <button type="submit" class="btn btn-primary btn-lg btn-block">Ingresar</button>
               </div>
            </form>
         </div>
      </div>
   </body>
</html>







