<html>
   <head>
      <title>Terminal | Resultados de la busqueda</title>
      <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   </head>
   </head>
   <body>
      <nav class="navbar navbar-default">
         <h1 align = "center">Terminal | Resultados de la busqueda</h1>
      </nav>
      <br>
         <table class="table table-striped">
            <tr>
               <th>Nombre</th>
               <th>Direccion</th>
               <th>Ubicacion</th>
            </tr>
            {{#each pois}}
            <tr>
               <td>{{this.nombre}}</td>
               <td>{{this.direccion}}</td>
               <td>{{this.ubicacion}}</td>
            </tr>
            {{/each}}
         </table>
   </body>
</html>

